npm-debug.log

node_modules/

tools/**/*.js
lib/**/*.js
tst/**/*.js
tools/**/*.js.map
lib/**/*.js.map
tst/**/*.js.map
tools/**/*.d.ts
lib/**/*.d.ts
tst/**/*.d.ts
.nyc_output
.pubxml
.nyc_output

# Coverage
coverage

# Transpiled files
build/

# VS Code
.vscode
!.vscode/tasks.js

# JetBrains IDEs
.idea/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Misc
.DS_Store

secrets.json
